/* Desktop - 14 */

position: relative;
width: 1440px;
height: 1024px;

background: #FFFFFF;


/* Group 1000009756 */

position: absolute;
width: 2766.55px;
height: 2442.13px;
left: -479px;
top: -532px;



/* Rectangle 26 */

position: absolute;
width: 1440px;
height: 1024px;
left: 0px;
top: 0px;

background: radial-gradient(22.76% 27.78% at 50% 46.68%, #048484 0%, #001A1A 100%);


/* Polygon 1 */

position: absolute;
width: 1213px;
height: 903px;
left: 1096.67px;
top: 793px;

background: #024341;
transform: rotate(10.96deg);


/* image */

position: absolute;
width: 848px;
height: 351px;
left: 707px;
top: 702px;

background: url(image.png);
opacity: 0.6;


/* Polygon 2 */

position: absolute;
width: 471px;
height: 297px;
left: 1735.32px;
top: 893.08px;

background: linear-gradient(185.25deg, rgba(2, 45, 44, 0.12) 44.9%, rgba(10, 109, 106, 0.8) 94.82%);
opacity: 0.68;
box-shadow: 8px 6px 4px rgba(0, 0, 0, 0.25);
transform: rotate(131.06deg);


/* image */

position: absolute;
width: 848px;
height: 351px;
left: -141px;
top: 702px;

background: url(image.png);
opacity: 0.6;


/* Rectangle 1 */

position: absolute;
width: 1214.85px;
height: 579.02px;
left: -479px;
top: 265.01px;

background: rgba(255, 255, 255, 0.36);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
transform: rotate(-41deg);


/* image */

position: absolute;
width: 848px;
height: 351px;
left: 818px;
top: 0px;

background: url(image.png);
opacity: 0.6;


/* Rectangle 3 */

position: absolute;
width: 881.09px;
height: 352.81px;
left: -279px;
top: 214.05px;

background: linear-gradient(344.03deg, rgba(2, 45, 44, 0.88) 14.87%, #079390 86.41%);
transform: rotate(-41deg);


/* image */

position: absolute;
width: 848px;
height: 351px;
left: 0px;
top: 351px;

background: url(image.png);
opacity: 0.6;


/* image */

position: absolute;
width: 848px;
height: 351px;
left: -15px;
top: 104px;

background: url(image.png);
opacity: 0.6;


/* Home */

position: absolute;
width: 83px;
height: 40px;
left: 1106px;
top: 8px;

font-family: 'Sans Serif Collection';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 61px;
text-align: center;

color: #FFFFFF;



/* Abhedya */

position: absolute;
width: 105px;
height: 40px;
left: 946px;
top: 8px;

font-family: 'Sans Serif Collection';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 61px;
text-align: center;

color: #FFFFFF;



/* Logout */

position: absolute;
width: 90px;
height: 40px;
left: 1244px;
top: 8px;

font-family: 'Sans Serif Collection';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 61px;
text-align: center;

color: #FFFFFF;



/* Rectangle 32 */

box-sizing: border-box;

position: absolute;
width: 101px;
height: 35px;
left: 1238px;
top: 23px;

border-radius: 20px;


/* Rectangle 33 */

box-sizing: border-box;

position: absolute;
width: 101px;
height: 35px;
left: 1097px;
top: 23px;

border-radius: 20px;
